{% extends 'base.html' %}


{% block menu %}

{% endblock menu %}

{% block title %} опрос > {% endblock %}



<{% block content %}



<div class="guest_card card border-dark mt-5" style="max-width: 18rem;">
      <div class="card-header">
          <span>Вопрос: {{ poll.question }}</span>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
            <div>
                {% for answer in poll.answers.all %}
                <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
                    <div class="card-header">
                        <p>Ответы:</p>
                        <span>{{ answer.option_text }}</span>
                    </div>
                    <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                    </div>
                </div>
                {% endfor %}
            </div>

      </div>
</div>
{% endblock %}

