{% extends 'base.html' %}


{% block menu %}
    <li><a href="{% url 'poll_create' %}">Create poll</a></li>
    <li><a href="{% url 'poll_update' poll.id %}">Update poll</a></li>
    <li><a href="{% url 'poll_delete' poll.id %}">Delete poll</a></li>
    <li><a href="{% url 'add_answer' poll.pk %}">Add answer</a></li>

{% endblock menu %}

{% block title %} опрос > {% endblock %}



<{% block content %}



<div class="guest_card card border-dark mt-5" style="max-width: 18rem;">
      <div class="card-header">
          <span>Вопрос: {{ poll.question }}</span>
          <span><a href="{% url 'answer_collect' poll.pk %}">Сбор ответов</a></span>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
            <div>
                {% for answer in poll.answers.all %}
                <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
                    <div class="card-header">
                        <p>Ответы:</p>
                        <div>{{ answer.option_text }}</div>
                        <div><a href="{% url 'update_answer' answer.id  %}">Отредактировать</a></div>
                        <div><a href="{% url 'delete_answer' answer.id  %}">Удалить</a></div>
                    </div>
                    <div class="card-body text-dark">
                    <h5 class="card-title">

                    </h5>
                    </div>
                </div>
                {% endfor %}
            </div>

      </div>
</div>
{% endblock %}

